<section class="event-details">
     <div class="event-header">
          <h1>{{event.name}}</h1>
          <div *ngIf="event.imageUrl === null">
               <img src="../../../assets/img/no-image-available.jpg">
          </div>
          <div *ngIf="event.imageUrl">
                <img src="{{event.imageUrl}}"> 
          </div>
     </div>
         
     <div class="event-info">
          <p>{{event.description}}</p>
          <span>{{event.startDate}}</span>
          <span>Tickets available:</span>
          <span>{{event.ticketsAvailable}}</span>
          <button (click)="buyTickets(event.id)">Buy tickets</button>
          <button (click)="deleteEvent(event.id)">Delete</button>
     </div>
</section>
