
<section class="event-details">
     <div class="event-header">
          <h1>{{event.name}}</h1>
          <div *ngIf="event.imageUrl === null">
               <img src="../../../assets/img/no-image-available.jpg">
          </div>
          <div *ngIf="event.imageUrl">
                <img src="{{event.imageUrl}}"> 
          </div>
     </div>
         
     <div class="event-info">
          <p>{{event.description}}</p>
          <span>Starts in:</span>
          <span>{{event.startDate}}</span>
          <span>Tickets available:</span>
          <span>{{event.ticketsAvailable}}</span>
          <form #f="ngForm" (ngSubmit)="buyTickets(f.value, event.id)" class="form-buyTickets form-group">
               <input #tickets ngModel type="number" min=1 required id="tickets" name="tickets">
               <p *ngIf="errorMessage" class="input-error">
                    {{errorMessage}}
               </p>
               <button [disabled]="f.invalid" class="form-btn">Buy tickets</button>  
               
          </form> 
          <button (click)="deleteEvent(event.id)">Delete</button>
     </div>
</section>
