.form-group {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    align-items: center;
    border: 2px solid gray;
    width: 25%;
    background: antiquewhite;
}

.form-item {
    display: flex;  
    flex-direction: column;
}

.form-group button {
    border-radius: 12px;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    background: cadetblue;
}

.input-error{
    color:red;
}