<form #f="ngForm"(ngSubmit)="submitFormHandler(f.value)" class="form-group"
  enctype="multipart/form-data">
    <h1 class="form-title">Add Event</h1>
      <div class="form-item">
          <div>
              <label for="name">Name</label>
          </div>
          <input #name="ngModel" [class.input-error]="name.touched && !!name.errors" 
          type="text" id="name" name="name" ngModel required minlength=4/>
          
        </div>
      <p class="input-error" *ngIf="name.touched && name.errors?.required">
          Name is required!
      </p>
      <p class="input-error" *ngIf="name.touched && name.errors?.minlength">
          Name should be at least 4 characters!
      </p>
   
      <div class="form-item">
          <div>
              <label for="description">Description</label>
          </div>
          <input #description="ngModel" [class.input-error]="description.touched && !!description.errors" 
          type="text" id="description" name="description" ngModel required minlength=30/>
          
        </div>
      <p class="input-error" *ngIf="description.touched && description.errors?.required">
          Description is required!
      </p>
      <p class="input-error" *ngIf="description.touched && description.errors?.minlength">
          Description should be at least 30 characters!
      </p>
    
    
      <div class="form-item">
          <div>
              <label for="ticketsAvailable">Available Tickets</label>
          </div>
          <input #ticketsAvailable="ngModel" [class.input-error]="ticketsAvailable.touched && !!ticketsAvailable.errors" 
          type="number" id="ticketsAvailable" name="ticketsAvailable" ngModel required min=10/>
          
        </div>
      <p class="input-error" *ngIf="ticketsAvailable.touched && ticketsAvailable.errors?.required">
          Tickets is required!
      </p>
      <p class="input-error" *ngIf="ticketsAvailable.touched && ticketsAvailable.errors?.min">
          You cannot create event with less than 10 tickets!
      </p>
      
      <div class="form-item">
          <div>
              <label for="startDate">Start date</label>
          </div>
          <input type="date" #myDate [value]="myDate.startDate | date:'yyyy-MM-dd'" (input)="startDate=parseDate($event.target.value)" />

      </div>

      <div class="form-item">
        <div>
            <label for="imageUrl">Select image</label>
        </div>
        <input #imageUrl type="file" (change)="onImageSelected($event)" />
    </div>


      <div class="form-item">
          <div>
              <label for="category">Category</label>
          </div>
          <select ngModel value="Select Category" name="category" id="category">
              <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
          </select>

      </div>
      <div>
          <button  [disabled]="f.invalid" class="form-btn" value="createEvent">Create event</button>
      </div>
  </form>
