.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
    width: 30%;
    margin: 20px auto;
    background: antiquewhite;
}

h1 {
    justify-content: center;
    display: flex;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info p {
    margin: 5px;
}

.profile-info button {
    margin-top: 15px;
    margin-bottom: 15px;
    background: cadetblue;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: 700;
    height: 35px;
    width: 100px;
    cursor: pointer;
}