<header>
    <nav>
        <span><a routerLink="home">Events Portal</a></span>
        <ul *ngIf="!isLogged">
            <li>
                <a routerLink="user/login">Login</a>
            </li>
            <li>
                <a routerLink="user/register">Register</a>
            </li>

            <li>
                <a routerLink="home">Home</a>
            </li>
        </ul>
        <ul *ngIf="isLogged">
            <li>
                <a href="#">Logout</a>
            </li>
            <li>
                <a>Profile</a>
            </li>
            <li>
                <a routerLink="events/create">Create Event</a>
            </li>
            <li>
                <a routerLink="categories/create">Create Category</a>
            </li>
        </ul>
    </nav>
</header>