<h1 class="form-title">Create Category</h1>
<form class="form-group">
    <div class="form-item">
        <div>
            <label for="name">Name</label>
        </div>
        <input type="text" id="name" name="name" />
    </div>
    <div class="form-item">
        <div>
            <label for="imageUrl">Image</label>
        </div>
        <input type="file" id="imageUrl" name="imageUrl" />
    </div>
    <div >
        <button class= "form-btn" type="submit">Create</button>
    </div>
</form>