<article class="event-info">
    <div *ngIf="event.imageUrl === null">
        <img src="../../../assets/img/no-image-available.jpg">
   </div>
   <div *ngIf="event.imageUrl">
         <img src="{{event.imageUrl}}"> 
   </div>
   <div class="event">
    <span>{{event.name}}</span>
    <span>{{event.startDate}}</span>
    <span>Tickets available: {{event.ticketsAvailable}}</span>
    <span >You have: {{boughtTickets}} tickets</span>
    <button type="submit" routerLink="/events/{{event.id}}">Info</button>
    </div>
</article>