<h1 class="form-title">Login</h1>
<form class="form-group">
    <div class="form-item">
        <div>
            <label for="username">Username</label>
        </div>
        <input type="text" id="username" name="username" />
    </div>
    <div class="form-item">
        <div>
            <label for="password">Password</label>
        </div>
        <input type="password" id="password" name="password" />
    </div>
    <div >
        <button class= "form-btn" type="submit">Login</button>
    </div>
</form>